.filters-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0.5em;
    align-items: center;

    & .actions{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
}