@import "../../resources/sass/colurs.scss";
@import "../../resources/sass/functions.scss";
@import "../../resources/sass/variables.scss";

.header-container {
  display: flex;
  width: 100%;
  padding: 0 100px 10px 10px;
  height: 75px;
  justify-content: end;
  align-items: start;

  & .dropbtn {
    background-color: $color-light-purple;
    color: white;

    border: none;
    cursor: pointer;
    border-radius: 0 0 15% 15%;
    padding: 10px;
    font-size: 12px;
    width: 125px;
  }

  & .right-m {
    margin-right: 5px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  & .dropdown-content {
    display: none;
    position: absolute;
    background-color: $color-light-purple;
    overflow: auto;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;

    & .item {
      display: flex;
      width: 100%;
      color: $color-white;
      border: 1px solid $color-purple;
      padding: 5px;
      font-size: 7px;
      text-decoration: none;
      display: block;

      & img {
        width: 30px;
        height: 30px;
        margin-left: 10px;
        margin-right: 10px;
      }

      & .photo {
        border-radius: 50%;
      }

      & .icon {
        cursor: pointer;
      }
    }

    & .item:hover {
      background-color: $color-purple;
    }
  }

  & .show {
    display: block;
  }
}

/* Estilos para TABLET  */
@media only screen and (max-width: 1024px) and (hover: hover) {
  .header-container {
    padding: 0 convertPixelsToV(100) convertPixelsToV(10) convertPixelsToV(10);
    height: convertPixelsToV(75);

    & .dropbtn {
      padding: convertPixelsToV(10);
      font-size: convertPixelsToV(12);
      width: convertPixelsToV(125);
    }

    & .right-m {
      margin-right: convertPixelsToV(5);
    }
  }

  .dropdown {
    & .dropdown-content {
      min-width: convertPixelsToV(200);
      box-shadow: 0 convertPixelsToV(8) convertPixelsToV(16) 0 rgba(0, 0, 0, 0.2);

      & .item {
        border: convertPixelsToV(1) solid $color-purple;
        padding: convertPixelsToV(5);
        font-size: convertPixelsToV(7);

        & img {
          width: convertPixelsToV(30);
          height: convertPixelsToV(30);
          margin-left: convertPixelsToV(10);
          margin-right: convertPixelsToV(10);
        }
      }
    }
  }
}

/* Estilos para movil  */
@media only screen and (max-width: 600px) and (hover: none)  {
  .header-container {
    padding: 0 convertPixelsToV(10, $movile-resolution) convertPixelsToV(10, $movile-resolution) convertPixelsToV(10, $movile-resolution);
    height: convertPixelsToV(75, $movile-resolution);
    justify-content: center;

    & .dropbtn {
      padding: convertPixelsToV(10, $movile-resolution);
      font-size: convertPixelsToV(12, $movile-resolution);
      width: convertPixelsToV(250, $movile-resolution);
    }

    & .right-m {
      margin-right: convertPixelsToV(5, $movile-resolution);
    }
  }

  .dropdown {
    & .dropdown-content {
      min-width: convertPixelsToV(250, $movile-resolution);
      box-shadow: 0 convertPixelsToV(8, $movile-resolution) convertPixelsToV(16, $movile-resolution) 0 rgba(0, 0, 0, 0.2);
      z-index: 1;
      bottom: 100%;

      & .item {
        border: convertPixelsToV(1, $movile-resolution) solid $color-purple;
        padding: convertPixelsToV(5, $movile-resolution);
        font-size: convertPixelsToV(7, $movile-resolution);

        & img {
          width: convertPixelsToV(30, $movile-resolution);
          height: convertPixelsToV(30, $movile-resolution);
          margin-left: convertPixelsToV(10, $movile-resolution);
          margin-right: convertPixelsToV(10, $movile-resolution);
        }
      }
    }
  }
}
